<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block pageTitle %}{{ title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor.css">

  <!-- OK Panel CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/okfn/ok-panel/v1.0.0/assets/css/frontend.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/okfn/app-theme/924b03098a3d0fcaa5acf573f51571f519f80c94/css/main.min.css">

  <link rel="stylesheet" href="/app.css">

  <!-- Optional Modernizr -->
  <script src="https://cdn.rawgit.com/okfn/app-theme/2114842a6bdf0c49eb94faca4b7c5dc4a29d2249/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  {% include "partials/header.html" %}

  <!-- page content start -->
  <div class="jumbotron inverse">
    <div class="container">
      <h1>{% block title %}{{ title }}{% endblock %}</h1>
      <p>{% block subtitle %}{% endblock %}</p>
    </div>
  </div>

  <div class="container">
  {% block content %}{% endblock %}
  </div>

  {% include "partials/footer.html" %}

  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
  <script src="https://cdn.rawgit.com/okfn/app-theme/00464f102ee73ea45c1ad5c0dd6c77708d6dbdc6/js/plugins.min.js"></script>
  <script src="https://cdn.rawgit.com/okfn/ok-panel/v1.0.0/assets/js/frontend.min.js" type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/okfn/app-theme/1a0030fe829abeaf25d87ed4923efed324e77259/js/main.min.js"></script>
</body>
</html>