{% raw %}
<section id="step2-wrapper">
  <h2>Step {{ currentStep.order }}. {{ currentStep.title }}</h2>
  <div class="row form-group" ng-repeat="resource in scope.resources track by $index">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-condensed" id="step2-describe-data-table" cellpadding="0" cellspacing="0" border="0">
          <tbody ng-init="sizeOfDataSample = (resource.data.rows.length > 3 ? 3 : resource.data.rows.length) + 1">
          <!-- Several rows of sample of data -->
          <tr class="success">
            <td colspan="{{ resource.fields.length + 1 }}">
              <p class="form-control-static">
                Sample of data ({{ sizeOfDataSample }} {{ sizeOfDataSample == 1 ? 'row' : 'rows' }})
              </p>
            </td>
          </tr>
          <tr>
            <td class="info" rowspan="{{ sizeOfDataSample }}"></td>
            <td ng-repeat="header in resource.data.headers track by $index"><b>{{ header }}</b></td>
          </tr>
          <tr ng-repeat="row in resource.data.rows | limitTo:3 track by $index">
            <td ng-repeat="value in row track by $index">{{ value }}</td>
          </tr>

          <!-- Editors -->
          <tr class="success">
            <td colspan="{{ resource.fields.length + 1 }}">
              <p class="form-control-static">Description</p>
            </td>
          </tr>

          <!-- Title of field -->
          <tr>
            <td class="info">
              <p class="form-control-static">Title</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <input ng-model="field.title" type="text" class="form-control">
            </td>
          </tr>
          <!-- Description of field -->
          <tr>
            <td class="info">
              <p class="form-control-static">Description</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <textarea ng-model="field.description" class="form-control resize-vertical"></textarea>
            </td>
          </tr>
          <!-- Data type -->
          <tr>
            <td class="info">
              <p class="form-control-static">Data type</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <select ng-model="field.type" class="form-control"
                ng-options="item.id as item.name for item in (field | fieldTypes)"></select>
            </td>
          </tr>
          <!-- Concept (measures) -->
          <tr>
            <td class="info">
              <p class="form-control-static">Concept</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <select ng-model="field.concept" class="form-control"
                id="step2-concept-{{ $index }}"
                ng-change="onConceptChanged(field)"
                ng-options="item.id as item.name for item in field.allowedConcepts"></select>
              <!-- Currency code - for `Amount` concept -->
              <select ng-model="field.currencyCode" class="form-control margin-top-8"
                ng-if="field.concept == 'measures.amount'"
                id="step2-currency-{{ $index }}"
                ng-change="onAdditionalPropertyChanged(field)"
                ng-options="item.code as item.nameWithCode for item in scope.availableCurrencies"></select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div ng-if="!scope.validationStatus.concept" class="alert alert-info">
    <i class="fa fa-2x fa-info-circle vertical-align-middle margin-right-4"></i>
    You should map at least an <b>Amount</b> and a <b>Date / Time</b> to continue.
  </div>

  <div ng-if="scope.validationStatus.concept" class="alert alert-success">
    <i class="fa fa-2x fa-check-circle-o vertical-align-middle margin-right-4"></i>
    Now your resource seems to look well, so you can continue to the next step.
  </div>

  <div ng-if="scope.validationStatus.concept" class="row form-group">
    <div class="col-xs-12">
      <button id="step2-button-next" ng-click="goToStep(nextStep)" type="button" class="btn btn-primary btn-lg">
        Continue&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
</section>
{% endraw %}