{% raw %}
<section id="step2-wrapper">
<div>
  <div class="row form-group" ng-repeat="resource in resources track by $index">
    <div ng-if="!!resource.source.url" class="col-xs-12 margin-bottom-8">
      <a href="{{ 'http://datapipes.okfnlabs.org/csv/html?url=' + resource.source.url }}" target="_blank">
        <i class="fa fa-external-link-square margin-right-4"></i>View this file
      </a>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-condensed x-small-text" id="step2-describe-data-table" cellpadding="0" cellspacing="0" border="0">
          <tbody ng-init="sizeOfDataSample = (resource.data.rows.length > 3 ? 3 : resource.data.rows.length)">
          <!-- Several rows of sample of data -->
          <tr class="success">
            <td colspan="{{ resource.fields.length + 1 }}">
              <p class="form-control-static">
                Sample of data ({{ sizeOfDataSample }} {{ sizeOfDataSample == 0 ? 'row' : 'rows' }})
              </p>
            </td>
          </tr>
          <tr>
            <td class="info" rowspan="{{ sizeOfDataSample + 1 }}"></td>
            <td ng-repeat="header in resource.data.headers track by $index"><b>{{ header }}</b></td>
          </tr>
          <tr ng-repeat="row in resource.data.rows | limitTo:3 track by $index">
            <td ng-repeat="value in row track by $index">{{ value }}</td>
          </tr>

          <!-- Editors -->
          <tr class="x-strong-highlight">
            <td colspan="{{ resource.fields.length + 1 }}">
              <p class="form-control-static">Description</p>
            </td>
          </tr>

          <!-- Title of field -->
          <tr>
            <td class="info">
              <p class="form-control-static">Title</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <input ng-model="field.title" type="text" class="form-control">
            </td>
          </tr>
          <!-- Description of field -->
          <tr>
            <td class="info">
              <p class="form-control-static">Description</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <textarea ng-model="field.description" class="form-control resize-vertical"></textarea>
            </td>
          </tr>
          <!-- Data type -->
          <tr>
            <td class="info">
              <p class="form-control-static">Data type</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <select ng-model="field.type" class="form-control"
                ng-options="item.id as item.name for item in (field | fieldTypes)"></select>
            </td>
          </tr>
          <!-- Concept (measures) -->
          <tr>
            <td class="info">
              <p class="form-control-static">Concept</p>
            </td>
            <td ng-repeat="field in resource.fields track by $index">
              <select ng-model="field.concept" class="form-control"
                id="step2-concept-{{ $index }}"
                ng-change="onConceptChanged(field)"
                ng-options="item.id as item.name for item in field.allowedConcepts"></select>

              <div ng-repeat="option in field.additionalOptions" class="margin-top-8">
                <div>
                  <label class="control-label">{{ option.title }}</label>
                </div>
                <div ng-if="option.values">
                  <select ng-model="field.options[option.name]" class="form-control"
                    id="step2-concept-{{ $index }}-{{ option.name }}"
                    ng-options="item.value as item.name for item in option.values"></select>
                </div>
                <div ng-if="!option.values">
                  <input type="text" ng-model="field.options[option.name]" class="form-control"
                    id="step2-concept-{{ $index }}-{{ option.name }}">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div ng-if="!state.status" class="alert alert-default">
    <i class="fa fa-2x fa-info-circle vertical-align-middle margin-right-4"></i>
    You should map at least an <b>Amount</b> and a <b>Date / Time</b> to continue.
  </div>

  <div ng-if="state.status" class="alert alert-success">
    <i class="fa fa-2x fa-check-circle-o vertical-align-middle margin-right-4"></i>
    Now that you have modeled your resource, you can continue to the next step.
  </div>

  <div ng-if="state.status" class="row form-group">
    <div class="col-xs-12">
      <button id="step2-button-next" ng-click="goToNextStep()" type="button" class="btn btn-inverse btn-lg">
        Continue&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <div class="row" ng-if="(selectedMeasures.length > 0) || (selectedDimensions.length > 0)">
    <div class="col-xs-12">
      <h3>Selected concepts</h3>
      <p>These are the concepts you've identified for your data so far.</p>
    </div>
    <div class="col-xs-12 col-sm-4" ng-if="selectedMeasures.length > 0">
      <h3>Measures</h3>
      <p>The data has {{ selectedMeasures.length }} measure(s)</p>
      <div ng-repeat="field in selectedMeasures track by $index">
        <h4>{{ field.title }}</h4>
        <ul>
          <li>Mapped from "{{ field.name }}"</li>
          <li ng-repeat="option in field.options">{{ option.name }}: {{ option.value }}</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8" ng-if="selectedDimensions.length > 0">
      <h3>Dimensions</h3>
      <p>The data has {{ selectedDimensions.length }} dimension(s)</p>
      <div class="row">
        <div class="col-xs-12 col-sm-6" ng-repeat="field in selectedDimensions track by $index">
          <h4>{{ field.title }}</h4>
          <ul>
            <li>Mapped from "{{ field.name }}"</li>
            <li>A "{{ field.concept.dimensionType }}" dimension</li>
            <li ng-repeat="option in field.options">{{ option.name }}: {{ option.value }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endraw %}