{% raw %}
<section ng-if="currentStep.id == 'download'" ng-controller="DownloadPackageController">
  <h2>Step {{ currentStep.order }}. {{ currentStep.title }}</h2>

  <div class="alert alert-info">
    <i class="fa fa-2x fa-info-circle vertical-align-middle margin-right-4"></i>
    Stub
  </div>

  <div class="alert alert-success">
    <i class="fa fa-2x fa-check-circle-o vertical-align-middle margin-right-4"></i>
    Now you can download your data package.
  </div>

  <div class="row form-group">
    <div class="col-xs-12">
      <a href="javascript:void(0);" class="btn btn-primary btn-lg">
        <i class="fa fa-download"></i>&nbsp;&nbsp;Download
      </a>
    </div>
  </div>
</section>
{% endraw %}