<nav class="navbar navbar-inverse navbar-footer">
  <div class="clearfix">
    <a href="{{ theme.footer.projectLogo.href }}">
      <object type="image/svg+xml" data="{{ theme.footer.projectLogo.image }}">
        {{ theme.footer.projectLogo.alt }}
      </object>
    </a>
  </div>

  <hr>

  <div class="clearfix">
    <a class="pull-left x-footer-okfn-logo" href="{{ theme.footer.orgLogo.href }}" rel="external">
      <img src="{{ theme.footer.orgLogo.image }}" alt="{{ theme.footer.orgLogo.alt }}" />
    </a>

    <ul class="nav navbar-nav pull-right x-footer-icons">
      {% for link in theme.socialMedia %}
      <li>
        <a href="{{ link.href }}" rel="external" target="_blank">
          <img src="{{ link.icon }}" alt="{{ link.alt }}" />
        </a>
      </li>
      {% endfor %}
    </ul>

    <ul class="nav navbar-nav pull-right">
      {% for link in theme.footer.links %}
      <li>
        <a href="{{ link.href }}" rel="external">
          {{ link.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
