<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% raw %}
<nav class="navbar navbar-inverse x-page-header" ng-controller="HeaderController">
  <div class="navbar-header navbar-header-full-width">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="https://frictionlessdata.io/specs/fiscal-data-package/" rel="external">
          Fiscal Data Package Specification
        </a>
      </li>

      <li ng-if="!login.isLoggedIn && applicationLoaded" ng-cloak class="user">
        <a href="javascript:void(0)" ng-click="login.login()">
          <i class="os-icon os-icon-user"></i>
          Login / Register
        </a>
      </li>
      <li ng-if="login.isLoggedIn && applicationLoaded" ng-cloak>
        <a href="javascript:void(0);" ng-click="isLoginMenuShown = !isLoginMenuShown">
          <i class="os-icon os-icon-user"></i>
          {{ login.name }}
          <i class="os-icon os-icon-arrow-drop-down"></i>
        </a>
        <div ng-show="isLoginMenuShown" class="x-user-info">
          <div class="x-avatar">
            <img class="pull-left" ng-if="!!login.avatar" ng-src="{{ login.avatar }}">
          </div>
          <div class="x-info">
            <div><strong>{{ login.name }}</strong></div>
            <div><a href="/admin/">Profile</a></div>
            <div><a href="javascript:void(0);" ng-click="login.logout()">Logout</a></div>
          </div>
        </div>
      </li>
    </ul>
    {% endraw %}
    <a class="navbar-brand navbar-brand-success" href="{{ basePath }}/" title="OS Packager" target="_self">
      <img src="{{ theme.header.logo.icon }}" class="os-logo-part">
      <img src="{{ theme.header.logo.image }}" class="os-logo-part">
    </a>
    {% raw %}
  </div>
</nav>
{% endraw %}
