{% raw %}
<div ng-controller="PreviewDataController" id="preview-data-panel">
  <h3>Using this data</h3>
  <p>
    Based on the current model selections, you could build the following
    views on this data.
  </p>

  <div>
    <button ng-repeat="possibility in possibilities" type="button"
      ng-disabled="!possibility.isAvailable"
      ng-class="{'btn-default': possibility.id != state.selectedPossibility, 'btn-primary': possibility.id == state.selectedPossibility}"
      ng-click="onSelectPossibility(possibility)"
      class="btn btn-block">{{ possibility.name }}</button>
  </div>

  <div ng-if="!!state.selectedPossibility">
    <h3>Preview</h3>

    <treemap ng-if="state.graph == 'treemap'" data="previewData" class="aspect-ratio aspect-ratio-3-4 treemap"></treemap>
    <line-chart ng-if="state.graph == 'lines'" data="previewData" type="spline" class="aspect-ratio aspect-ratio-square lines"></line-chart>
    <pie-chart ng-if="state.graph == 'pie'" data="previewData" class="aspect-ratio aspect-ratio-3-2"></pie-chart>
  </div>
</div>
{% endraw %}