{% raw %}
<ul class="nav nav-pills" id="steps-nav">
  <li role="presentation" ng-repeat="step in steps"
    ng-class="{active: step.id == currentStep.id, disabled: !step.isCurrent && !step.isPassed}">
    <a href='#'
       ng-click="goToStep(step)">
      <i ng-if="step.isPassed" class="fa fa-1-5x fa-check-circle-o vertical-align-middle margin-right-4"></i>
      <span class="vertical-align-middle">{{ step.title }}</span>
    </a>
    <span class="restart"
       ng-if="step.isCurrent && step.id !== steps[0].id"
       ng-click="restartFlow()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <span>Restart Flow</span>
    </span>
  </li>
</ul>
{% endraw %}
