{% extends "layouts/base.html" %}

{% block content %}
<script type="text/javascript">
  window.isWizard = true;
</script>
<section ng-controller="StepsController">
<div ng-if="!applicationLoaded" class="x-application-loader">
  <div class="text-center" style="margin-bottom: 1em;">
    <i class="fa fa-4x fa-spinner fa-pulse"></i>
  </div>
  <div class="text-center">
    Loading application...
  </div>
</div>
<div ng-cloak ng-if="applicationLoaded">
  <div class="jumbotron jumbotron-inverse row x-steps-container">
    <div class=" col-xs-12 col-sm-4">
      {% include "partials/steps.html" %}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3 class="text-center">
        {% raw %}
        {{ currentStep.title }}
        <small>
          {{ currentStep.subtitle }}
        </small>
        {% endraw %}
      </h3>
    </div>
    <div class="hidden-xs col-sm-4">
      {% include "partials/preview-panel.html" %}
    </div>
  </div>

  {% raw %}
  <div class="container-fluid margin-top-16" ng-if="isExternalDataPackage">
    <div class="alert alert-warning" ng-if="!externalDataPackageError">
      <i class="fa fa-2x fa-exclamation-circle vertical-align-middle margin-right-4"></i>
      You are editing existing data package file, so some features will be unavailable.
    </div>
    <div class="alert alert-danger" ng-if="!!externalDataPackageError">
      <i class="fa fa-2x fa-times-circle-o vertical-align-middle margin-right-4"></i>
      {{ externalDataPackageError }}
    </div>
  </div>
  <div ng-if="!externalDataPackageError" class="container-fluid x-steps-area-wrapper" ng-view></div>
  {% endraw %}
</div>
</section>
<div class="container-fluid x-footer-help">
  <a href="https://community.openspending.org/" class="btn btn-outline btn-inverse pull-right">OpenSpending Community</a>
  <p>
    <i class="os-icon os-icon-people"></i><strong>Need help?</strong> Check out the guides on our community site
  </p>
</div>
{% endblock %}
