.modal-backdrop {
  z-index: 99990 !important;
}

.modal {
  z-index: 99999 !important;
}

.modal .modal-dialog.modal-fluid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#validation-results .panel.panel-default {
  border-color: #ddd;
  border-top: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

#validation-results .panel {
  margin: 0;
}

textarea {
  resize: none;
}

textarea.resize-vertical {
  resize: vertical;
}
textarea.resize-horizontal {
  resize: horizontal;
}
textarea.resize-vertical.resize-horizontal,
textarea.resize-both {
  resize: both;
}

.vertical-align-middle {
  vertical-align: middle;
}

.margin-right-4 {
  margin-right: 4px;
}

.control-label.required:after {
  content: ' *';
  color: #f00;
  font-size: 80%;
  position: relative;
  top: -0.1em;
}

#step2-describe-data-table td {
  min-width: 150px;
}

.step4-package-info {
  margin-bottom: 3em;
}

.step4-package-info .row {
  margin-bottom: 1em;
}

.step4-package-info .row p {
  margin-bottom: 0.1em;
}