.modal-backdrop {
  z-index: 99990 !important;
}

.modal {
  z-index: 99999 !important;
}

.modal .modal-dialog.modal-fluid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#validation-results .panel.panel-default {
  border-color: #ddd;
  border-top: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

#validation-results .panel {
  margin: 0;
}

textarea {
  resize: none;
}

textarea.resize-vertical {
  resize: vertical;
}
textarea.resize-horizontal {
  resize: horizontal;
}
textarea.resize-vertical.resize-horizontal,
textarea.resize-both {
  resize: both;
}

.fa.fa-1-5x {
  font-size: 150%;
}

.vertical-align-middle {
  vertical-align: middle;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.control-label.required:after {
  content: ' *';
  color: #f00;
  font-size: 80%;
  position: relative;
  top: -0.1em;
}

#step2-describe-data-table td {
  min-width: 150px;
}

.step4-package-info {
  margin-bottom: 3em;
}

.step4-package-info .row {
  margin-bottom: 1em;
}

.step4-package-info .row p {
  margin-bottom: 0.1em;
}

tr.x-strong-highlight td,
td.x-strong-highlight {
  background: #7ab800;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.07em;
}

.x-small-text {
  font-size: 12px;
}

.x-small-text * {
  font-size: inherit;
}

.x-small-text .form-control,
.x-small-text .form-control-static {
  padding: 3px 4px;
  line-height: normal;
  height: auto;
}

.x-small-text .form-control-static {
  min-height: 0;
}
