<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <base href="{{ basePath }}/">
  <title>{% block pageTitle %}{{ title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/vendor.css?{{ sessionSalt }}">
  <link rel="stylesheet" href="styles/app.css?{{ sessionSalt }}">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" >
</head>

<body>
  {% include "partials/header.html" %}

  <div class="x-page-container">
  {% block content %}{% endblock %}
  </div>

  {% include "partials/footer.html" %}

  {% if conductor %}
  <script type="text/javascript">
    (function(globals, conductor, fdpAdapterUrl) {
      var options = globals.ExternalConfig = {};

      var conductorConfig = options.conductor = {};
      conductorConfig.conductorUrl = conductor.url + '/datastore/';
      conductorConfig.conductorInfoUrl = conductor.url + '/datastore/info';
      conductorConfig.publishUrl = conductor.url + '/package/upload';
      conductorConfig.statusUrl = conductor.url + '/package/status';
      conductorConfig.pollInterval = conductor.pollInterval;

      options.adapterUrl = fdpAdapterUrl;
      options.proxyUrl = 'proxy?url=';
    })(window, {{ conductor | json | safe }}, {{ fdpAdapterUrl | json | safe }});
  </script>
  {% endif %}

  <script src="app.js?{{ sessionSalt }}"></script>
  <script src="{{conductor.url}}/user/lib"></script>
</body>

</html>
