<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <base href="{{ basePath }}/">
  <title>{% block pageTitle %}{{ title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/vendor.css?{{ sessionSalt }}">
  <link rel="stylesheet" href="styles/app.css?{{ sessionSalt }}">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" >

  <script type="text/javascript" >
    var globalConfig = {{ globalConfig | stringify }};
    if (globalConfig.snippets && globalConfig.snippets.ga) {
      var okiConsent = {
        analyticsTrackingID: globalConfig.snippets.ga
      };
    }
  </script>
  <script type='text/javascript' src='https://a.okfn.org/html/oki/consent/assets/js/consent.js'></script>

  <style>
    {% include "../partials/theme.css" %}
  </style>
</head>

<body>
  {% include "partials/header.html" %}

  <div class="x-page-container">
  {% block content %}{% endblock %}
  </div>

  {% include "partials/footer.html" %}

  {% if frontendOptions %}
  <script type="text/javascript">
    window.ExternalConfig = {{ frontendOptions | json | safe }};
  </script>
  {% endif %}

  <script src="scripts/app.js?{{ sessionSalt }}"></script>
  <script src="{{ frontendOptions.conductor.authLibUrl }}"></script>
</body>

</html>
