<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <base href="/{{ basePath }}">
  <title>{% block pageTitle %}{{ title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/vendor.css?{{ sessionSalt }}">
  <link rel="stylesheet" href="styles/app.css?{{ sessionSalt }}">
</head>

<body ng-app="Application">
  {% include "partials/header.html" %}

  <!-- page content start -->
  <div class="jumbotron jumbotron-inverse">
    <div class="container">
      <h1>{% block title %}{{ title }}{% endblock %}</h1>
      <p>{% block subtitle %}{% endblock %}</p>
    </div>
  </div>

  <div class="container-fluid x-page-container">
  {% block content %}{% endblock %}
  </div>

  {% include "partials/footer.html" %}

  <script src="modules.js?{{ sessionSalt }}"></script>
  <script src="vendor.js?{{ sessionSalt }}"></script>
  <script src="app.js?{{ sessionSalt }}"></script>
  <script src="{{conductor.url}}/permit/lib"></script>

  {% if conductor %}
  <script type="text/javascript">
    (function(options, conductor) {
      options.conductorUrl = conductor.url + '/datastore/';
      options.publishUrl = conductor.url + '/hooks/load/api';
      options.pollInterval = conductor.pollInterval;
    })(require('app/services').datastore.defaultOptions, {{ conductor | json | safe }});
  </script>
  {% endif %}
</body>

</html>
